.NavBarGeneral {
    font-size: 20px;
    color: var(--mBlue);
    z-index: 1;
}

.pointer {
    cursor: pointer;
}

.cartBtn {
    border: none;
    background-color: var(--mBlue);
}
.h4style {
    color: var(--mBlue);
}
.pstyle{
    color: var(--mBlue);
}
.orderBtn {
    background-color: rgb(0, 37, 142);
    border: none;
}

/* color botton rgb(0, 37, 142); #00258e */